.signup, .signin {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 15%;
  color: white;
  align-items: center;
}
.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
}
.form1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  width: 50%;
  color: white;
  align-items: center;
}
.btn {
  width: 75px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #2d2d2d;
  color: white;
}
.btn:active {
  width:70px;
  height:25px;
}
.btn:hover{
  background-color: #363c3d;
}
.data {
  height: 2em;
  padding: 5px;
  margin: 2px;
  border: none;
  opacity: .8;
}
.form-group{
  opacity: .8;
  margin: 3px;
  
}
.form-control {
  border: none;
  width: 300px;
  height: 25px;
  padding: 5px;
}
#subject {
  height: 70px;
}
.newpost {
  position: center;
}